In [1]:
import pandas as pd
df = pd.read_csv('../data/raw/Employee_Complete_Dataset.csv')

`Summary Statistics`

In [2]:
df.head()

,Employee_number,Employee_name,Employee_age,Maritial_Status,Current_Salary,Number_of_Children,years_experience,past_projects,current_projects,Divorced_earlier,Father_alive,Mother_alive,performance_rating,Education_level,Department,Role,Job_Satisfaction,Work_Life_Balance,is_outlier
0,10001,Karen Anderson,36,True,116138,2,12,6,1,No,Yes,Yes,3,Bachelor's,R&D,Researcher,10.000000,1.936454,0
1,10002,David Taylor,34,False,82171,3,10,5,0,Yes,Yes,No,5,Diploma,HR,HR Executive,10.000000,4.077728,0
2,10003,Nina Kumar,36,False,48600,1,0,2,3,Yes,Yes,Yes,4,Diploma,Sales,Sales Manager,10.000000,3.975622,0
3,10004,John Patel,42,True,39675,1,2,4,2,Yes,Yes,Yes,3,Diploma,Engineering,Software Engineer,1.000000,3.790951,0
4,10005,Emily Sharma,27,True,161304,3,3,11,2,Yes,Yes,Yes,2,High School,R&D,Scientist,8.251833,10.000000,0

In [3]:
df.tail()

,Employee_number,Employee_name,Employee_age,Maritial_Status,Current_Salary,Number_of_Children,years_experience,past_projects,current_projects,Divorced_earlier,Father_alive,Mother_alive,performance_rating,Education_level,Department,Role,Job_Satisfaction,Work_Life_Balance,is_outlier
49995,59996,Olivia Singh,34,True,30000,1,10,8,2,No,No,Yes,3,Diploma,Support,Customer Specialist,1.620645,10.000000,0
49996,59997,Rohit Anderson,63,False,39817,0,30,5,1,Yes,Yes,Yes,2,Bachelor's,Support,Support Engineer,9.653380,1.826064,0
49997,59998,Olivia Taylor,39,True,30000,0,12,8,3,No,Yes,Yes,2,Diploma,Engineering,ML Engineer,4.690698,2.470172,0
49998,59999,Luke Brown,40,True,50384,1,7,3,2,No,Yes,Yes,3,Bachelor's,Finance,Senior Analyst,1.031014,2.462067,0
49999,60000,Arun Thomas,42,False,115609,2,19,4,1,No,No,Yes,5,Bachelor's,Support,Customer Specialist,8.571629,2.912378,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Employee_number     50000 non-null  int64
 1   Employee_name       50000 non-null  object
 2   Employee_age        50000 non-null  int64
 3   Maritial_Status     50000 non-null  bool
 4   Current_Salary      50000 non-null  int64
 5   Number_of_Children  50000 non-null  int64
 6   years_experience    50000 non-null  int64
 7   past_projects       50000 non-null  int64
 8   current_projects    50000 non-null  int64
 9   Divorced_earlier    50000 non-null  object
 10  Father_alive        50000 non-null  object
 11  Mother_alive        50000 non-null  object
 12  performance_rating  50000 non-null  int64
 13  Education_level     50000 non-null  object
 14  Department          50000 non-null  object
 15  Role                50000 non-null  object
 16  Job_Satisfaction    50000 non-null  float64
 17  Work_Life_Balance   50000 non-null  float64
 18  is_outlier          50000 non-null  int64
dtypes: bool(1), float64(2), int64(9), object(7)
memory usage: 6.9+ MB

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Employee_number,50000.0,35000.500000,14433.901067,10001.0,22500.750000,35000.500000,47500.250000,60000.0
Employee_age,50000.0,34.704800,9.607357,16.0,28.000000,35.000000,41.000000,85.0
Current_Salary,50000.0,58396.139100,31415.294557,15128.0,33581.000000,53029.000000,73750.000000,695267.0
Number_of_Children,50000.0,1.195640,1.121940,0.0,0.000000,1.000000,2.000000,3.0
years_experience,50000.0,8.301700,8.632958,0.0,0.000000,6.000000,14.000000,58.0
past_projects,50000.0,7.013640,4.325417,0.0,3.000000,7.000000,11.000000,14.0
current_projects,50000.0,1.500940,1.115430,0.0,1.000000,2.000000,2.000000,3.0
performance_rating,50000.0,3.198300,0.981854,1.0,3.000000,3.000000,4.000000,5.0
Job_Satisfaction,50000.0,6.553994,2.972727,1.0,4.174112,6.870449,9.786116,10.0
Work_Life_Balance,50000.0,4.522944,2.860985,1.0,1.976650,4.043602,6.609181,10.0
is_outlier,50000.0,0.014280,0.118644,0.0,0.000000,0.000000,0.000000,1.0

In [6]:
df.describe(exclude='number').T

                  count unique                  top   freq
Employee_name     50000    380         Daniel Kumar    166
Maritial_Status   50000      2                 True  27507
Divorced_earlier  50000      2                   No  37446
Father_alive      50000      2                  Yes  42509
Mother_alive      50000      2                  Yes  40076
Education_level   50000      5           Bachelor's  22633
Department        50000      7              Support   7244
Role              50000     15  Customer Specialist   3628

In [7]:
df[df['Employee_name'] == 'Daniel Kumar']

,Employee_number,Employee_name,Employee_age,Maritial_Status,Current_Salary,Number_of_Children,years_experience,past_projects,current_projects,Divorced_earlier,Father_alive,Mother_alive,performance_rating,Education_level,Department,Role,Job_Satisfaction,Work_Life_Balance,is_outlier
652,10653,Daniel Kumar,44,True,80576,0,8,2,1,No,Yes,Yes,3,Master's,HR,HR Manager,4.559232,6.522878,0
816,10817,Daniel Kumar,21,True,30000,0,0,4,0,No,No,No,2,Bachelor's,Engineering,DevOps Engineer,6.700633,2.993142,0
1151,11152,Daniel Kumar,24,True,66264,0,0,7,2,No,Yes,Yes,5,High School,HR,HR Manager,5.950708,1.065527,0
1329,11330,Daniel Kumar,19,False,30000,0,0,5,3,Yes,Yes,Yes,2,High School,Support,Customer Specialist,2.276224,1.142676,0
1633,11634,Daniel Kumar,40,False,60901,3,18,5,3,Yes,No,Yes,3,Bachelor's,Support,Support Engineer,5.993906,8.135994,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48620,58621,Daniel Kumar,18,False,53263,0,0,13,0,No,Yes,Yes,4,Diploma,Engineering,ML Engineer,8.007067,1.000000,0
48842,58843,Daniel Kumar,34,True,30000,2,10,9,1,Yes,Yes,Yes,3,Bachelor's,Sales,Sales Manager,3.386384,1.000000,0
49089,59090,Daniel Kumar,42,True,95284,0,16,11,1,No,Yes,Yes,5,PhD,Support,Support Engineer,10.000000,3.388317,1
49115,59116,Daniel Kumar,33,False,59688,0,0,6,3,Yes,Yes,Yes,3,Diploma,R&D,Scientist,10.000000,3.528647,0
49785,59786,Daniel Kumar,38,True,32703,0,17,6,3,No,Yes,No,3,Diploma,Support,Customer Specialist,5.618293,10.000000,0

In [8]:
df['Employee_number'].nunique()

50000

In [9]:
print(len(df.columns.tolist()))
df.columns.tolist()

19

['Employee_number',
 'Employee_name',
 'Employee_age',
 'Maritial_Status',
 'Current_Salary',
 'Number_of_Children',
 'years_experience',
 'past_projects',
 'current_projects',
 'Divorced_earlier',
 'Father_alive',
 'Mother_alive',
 'performance_rating',
 'Education_level',
 'Department',
 'Role',
 'Job_Satisfaction',
 'Work_Life_Balance',
 'is_outlier']

In [10]:
numeric_cols = df.select_dtypes(include='number').columns.tolist()
for i, col in enumerate(numeric_cols,1):
    print(f'{i:<2}. {col:<20} | Range : ({df[col].min()} - {df[col].max()})')

1 . Employee_number      | Range : (10001 - 60000)
2 . Employee_age         | Range : (16 - 85)
3 . Current_Salary       | Range : (15128 - 695267)
4 . Number_of_Children   | Range : (0 - 3)
5 . years_experience     | Range : (0 - 58)
6 . past_projects        | Range : (0 - 14)
7 . current_projects     | Range : (0 - 3)
8 . performance_rating   | Range : (1 - 5)
9 . Job_Satisfaction     | Range : (1.0 - 10.0)
10. Work_Life_Balance    | Range : (1.0 - 10.0)
11. is_outlier           | Range : (0 - 1)

In [ ]:
categorical_cols = df.select_dtypes(include='object').columns.tolist()
for i, col in enumerate(categorical_cols, 1):
    print(f'{i}. {col:<20} | Uniques: {df[col].nunique()} | Examples: {df[col].unique()[:3]}')

['Employee_name', 'Divorced_earlier', 'Father_alive', 'Mother_alive', 'Education_level', 'Department', 'Role']
1. Employee_name        | Uniques: 380 | Examples: ['Karen Anderson' 'David Taylor' 'Nina Kumar']
2. Divorced_earlier     | Uniques: 2 | Examples: ['No' 'Yes']
3. Father_alive         | Uniques: 2 | Examples: ['Yes' 'No']
4. Mother_alive         | Uniques: 2 | Examples: ['Yes' 'No']
5. Education_level      | Uniques: 5 | Examples: ["Bachelor's" 'Diploma' 'High School']
6. Department           | Uniques: 7 | Examples: ['R&D' 'HR' 'Sales']
7. Role                 | Uniques: 15 | Examples: ['Researcher' 'HR Executive' 'Sales Manager']

`Data Quality Checks`

In [13]:
# missing values
missing = df.isnull().sum()
missing = missing[missing > 0].sort_values(ascending=False)
missing_pct = (missing / len(df)) * 100
if missing.sum() == 0:
    print({'has missing': False, 'missing' : []})
else:
    summary_df = pd.DataFrame(
        {
            'missing': missing,
            'missing_pct': missing_pct
        }
    )
    print(summary_df)

{'has missing': False, 'missing': []}

In [ ]:
# duplicates check
duplicates = df.duplicated().sum()
if duplicates == 0:
    print({'has_duplicates' : False, 'duplicates': []})
else:
    df[df.duplicated()]

{'has_duplicates': False, 'duplicates': []}

In [18]:
# outlier detection using IQR
def outlier_detection(df, col):
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]

    return lower_bound, upper_bound, outliers

for i, col in enumerate(numeric_cols, 1):
    lower, upper, outliers = outlier_detection(df, col)
    print(f'{i:<2}. {col:<20} | Outliers: {len(outliers):<5} | Range: ({lower:.2f} - {upper:.2f})')

1 . Employee_number      | Outliers: 0     | Range: (-14998.50 - 84999.50)
2 . Employee_age         | Outliers: 271   | Range: (8.50 - 60.50)
3 . Current_Salary       | Outliers: 636   | Range: (-26672.50 - 134003.50)
4 . Number_of_Children   | Outliers: 0     | Range: (-3.00 - 5.00)
5 . years_experience     | Outliers: 231   | Range: (-21.00 - 35.00)
6 . past_projects        | Outliers: 0     | Range: (-9.00 - 23.00)
7 . current_projects     | Outliers: 0     | Range: (-0.50 - 3.50)
8 . performance_rating   | Outliers: 2553  | Range: (1.50 - 5.50)
9 . Job_Satisfaction     | Outliers: 0     | Range: (-4.24 - 18.20)
10. Work_Life_Balance    | Outliers: 0     | Range: (-4.97 - 13.56)
11. is_outlier           | Outliers: 714   | Range: (0.00 - 0.00)